@import url(scoreboard.css);
@import url(cards.css);
@import url(game-setup.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* html {
  height: var(--height);
  width: var(--width);
} */

@font-face {
  font-family: 'calc';
  src: url(../fonts/calc/ti-calculator-font.ttf);
}

/* Page Layout */
body {
  overflow: hidden;
  background: rgb(80, 80, 80);
  /* background-color: rgb(183, 205, 168); */
  height: var(--height);
  width: var(--width);
  margin: 0;
  font: 500 100% system-ui, sans-serif;
  /* text-transform: uppercase; */
}

.main-container {
  /* background: white; */
  width: calc(var(--width));
  height: calc(var(--height));
  margin: 0;
  box-shadow: 0 0 3px rgba(black, 0.33);

  display: grid;
  grid-template: 
    [top-all] min-content [top-board] minmax(0, 2fr) [top-cards] minmax(0, 1fr) [bot-all]
    /
    [left-all] minmax(0, 1fr) [modal-left] minmax(0, 3fr) [modal-right] minmax(0, 1fr) [right-all];

  /* grid-template-columns: minmax(0, 1fr);
  grid-template-rows: min-content minmax(0, 2fr) minmax(0, 1fr); */
  
  row-gap: 2%;
}

/* Responsive */
@media (min-width: 601px) {
  div.main-container {
    grid-template-rows: [top-all] minmax(0, 1fr) [top-board] minmax(0, 2fr) [top-cards] minmax(0, 1fr) [bot-all];
    width: 600;
    margin: 0 auto;
  }
}

/* .scoreboard-container, .field-container, .board-container, .cards-container {
    grid-column: 2 / 3;
} */

/* .main-container.game {
  grid-template-rows: min-content minmax(10px, 20%) 1fr min-content min-content;
} */

.main-container > * {
    padding: 1rem;
    text-align: center;
    /* border: 2px solid black; */
}

/* .sideby {
  display: grid;
  grid-auto-flow: column;
} */
  
.page-header {
  /* grid-column: 1 / -1; */
  /* background: #ffcdd2; */
  /* position: sticky; */
  top: 0;
}

/* Page Elements */
.to-butt1, .to-butt2, .tp-butt1 *, .to-butt2 * {
  font-size: .5rem;
}

p, button, .to-butt1 *, .to-butt2 * {
  font-family: 'calc', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
}

p.tiny {
  font-size: .5rem;
  line-height: .75rem;
}

details p {
  text-transform: none;
  text-align: left;
}

h1 {
  font-size: 2em;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

input {
  text-align: center;
}

.away .to-butt1 {
  background: none;
}

/* Responsive */
/* @media (max-width: 768px) {
  .main-container {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  .main-container > * {
      grid-column: 1 / -1 !important;
      grid-row: auto;
  }

  .main-container.game {
    grid-template-rows: min-content min-content 15% 1fr min-content min-content;
  }
} */

.game-setup-container {
  background: dodgerblue;
  border: 1vw solid white;
  border-radius: 2vw;
  grid-area: top-all / left-all / bot-all / right-all;
  z-index: 20;
  display: '';
}

.field-container {
  grid-area: top-all / left-all / bot-all / right-all;
  max-height: 100%;
  max-width: 600px;
  padding: 0;
  transform: translateX(0);
  /* background: rgb(44, 163, 44); */
  
  z-index: 5;
  transition: transform 1s, opacity .5s;

  overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  
  display: grid;
  grid-template:
    [top] minmax(0, 20%) [top-endzone] minmax(0, 8%) [top-field] minmax(0, 64%) [bot-endzone] minmax(0, 8%) [bot]
    /
    [left] minmax(0, 1fr) [right];
}

.field-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.field-container.slide-away {
  transform: translateX(150%);
  /* z-index: -1; */
  opacity: 0;
  /* display: none; */
  transition: transform 1s, opacity 1s;
}

.field-container .fg-post {
  grid-row: top / top-endzone;
}

.field-container .top-endzone {
  grid-area: top-endzone / left / top-field / right;

  border: 5px solid white;
  border-bottom: none;
  background: dodgerblue;
}

.field-container .modal-message {
  grid-area: top-endzone / left / top-field / right;
  z-index: 20;
  margin: 10px;
  color: purple;

  color: white;
  font-weight: bold;

  display: flex;
  text-align: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.field-container .modal-message::-webkit-scrollbar {
  display: none;
}

.field-container .field {
  grid-row: top-field / bot-endzone;

  border: 5px solid white;
  border-bottom: none;
  background: repeating-linear-gradient(to top, white, white 5px, green 5px, green 10%);

  display: flex;
  justify-content: center;
}

.field-container .bot-endzone {
  grid-row: bot-endzone / bot;

  border: 5px solid white;
  border-top: none;
  background: orange;
}

.field-container .ball{
  position: absolute;
  top: var(--ball-spot);
  transform: rotate(312deg);
  font-size: 1rem;
  margin: 0 auto;
  transition: all .25s;
}

.board-container {
  background: white;
  border: 1.5vw solid black;
  grid-area: top-board / left-all / top-cards / right-all;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 6fr 6fr 1fr;
  grid-template-columns: 1fr 4fr 4fr 4fr;
  gap: 2vw;

  transition: transform .5s, opacity 1s;
}

.board-container.slide-away {
  transform: translateX(150%);
  /* z-index: -1; */
  opacity: 0;
  /* display: none; */
  transition: transform 1s, opacity 1s;
}

.board-container > * {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  color: black;
}

.board-container .pl-card1-header {
  grid-area: 4 / 2 / 5 / 3;
}
.board-container .pl-card2-header {
  grid-area: 1 / 2 / 2 / 3;
}
.board-container .mult-card-header {
  grid-area: 1 / 3 / 2 / 4;
}
.board-container .yard-card-header {
  grid-area: 4 / 3 / 5 / 4;
}
.board-container .quality-header {
  grid-area: 1 / 4 / 2 / 5;
}
.board-container .times-header {
  grid-area: 4 / 4 / 5 / 5;
}

.board-container .pl-card1,
.board-container .pl-card2,
.board-container .mult-card,
.board-container .yard-card,
.board-container .quality-container,
.board-container .times-container {
  background:rgb(129, 0, 17);
  border: 1vw solid black;
  border-radius: 2vw;
  height: 100%;
  width: 100%;
}

.board-container .pl-card2 {
  grid-area: 2 / 2 / 3 / 3;
}

.board-container .mult-card {
  grid-area: 2 / 3 / 3 / 4;
}

.board-container .quality-container {
  grid-area: 2 / 4 / 3 / 5;
  height: 66%;
}

.board-container .pl-card1 {
  grid-area: 3 / 2 / 4 / 3;
}

.board-container .yard-card {
  grid-area: 3 / 3 / 4 / 4;
}

.board-container .times-container {
  grid-area: 3 / 4 / 4 / 5;
  height: 66%;
}

.cards-container {
  overflow: hidden;
  background: rgb(129, 0, 17);
  grid-area: top-cards / left-all / bot-all / right-all;
  max-width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 85%;
  row-gap: 3%;
  padding: 0;
  z-index: 10;

  transition: margin-top 0.5s, background 1s;
}

.cards-container.slide-down {
  background: rgb(129, 0, 17, 0);
  margin-top: 32.5%;
}

.cards-container .bar {
  grid-area: 1 / 1;
  font-size: 1.75vh;
  background: black;
  color: white;
  font-weight: bold;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container .cards {
  padding: 1rem;
  grid-area: 2 / 1;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  /* max-height: 100%; */
  gap: 10%;
  justify-content: space-between;
}

.cards-container .cards::-webkit-scrollbar {
  display: none;
}

.cards-container .cards button.card, .pl-card1.picked, .pl-card2.picked {
  background: #005A9C;
  color: white;
  font-size: 8vw;
  font-family: 'calc', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container .cards button.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  border: 1vw solid white;
  border-radius: 2vw;
}