* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  @font-face {
    font-family: 'calc';
    src: url(fonts/calc/ti-calculator-font.ttf);
  }

  p, button {
    font-family: 'calc', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
  }

  button {
    border: rgb(195, 195, 195) solid 2px;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
  }

  button:hover {
    background-color: #9c9c9c;
  }

  button:disabled {
    display: none;
  }

  body {
    background: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;
  
    font: 500 100% system-ui, sans-serif;
    /* text-transform: uppercase; */
  }
  .page-wrap {
    background: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(black, 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
    grid-template-rows: min-content 1fr auto min-content min-content;
    gap: 1px;
  }

  .page-wrap > * {
      padding: 1rem;
      text-align: center;
  }
  

  
  .page-header {
    grid-column: 1 / -1;
    background: #ffcdd2;
    position: sticky;
    top: 0;
  }

  .page-subheader {
    display: none;
    grid-column: 1 / -1;
    background: #bbdefb;
  }
  
  .page-main {
    grid-row: span 1;
    grid-column: 1 / 2;
    background: #dcedc8;
  }

  .page-sidebar {
    grid-column: 2 / 3;
    grid-row: span 1;
    background: #e1bee7;
  }

  .page-selection2 {
    grid-column: 1 / -1;
    grid-row: span 1;
    background: #c5fffb;
  }

  .page-main *, .page-sidebar * {
    margin-bottom: 10px;;
  }

  .page-subfooter {
    grid-column: 1 / -1;
    background: #caa15f;
  }
  .page-footer {
    grid-column: 1 / -1;
    background: #ffecb3;
  }
  
  details p {
    text-transform: none;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .page-subheader {
        display: block;
    }

    .page-wrap {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .page-wrap > * {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
    }
    
    /* .page-sidebar {
        display: none;
    } */
  }

  h1 {
    font-size: 2em;
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }

  input {
    text-align: center;
  }