* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  @font-face {
    font-family: 'calc';
    src: url(fonts/calc/ti-calculator-font.ttf);
  }

  p, button, .scoreboard *, .to-butt1 *, .to-butt2 * {
    font-family: 'calc', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  p.tiny {
    font-size: .5rem;
    line-height: .75rem;
  }

  .scoreboard {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    /* grid-template-areas: 
      "topLeft  topCenter  topRight"
      "midLeft  midCenter  midRight"
      "botLeft  botCenter  botRight"
    ; */
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    gap: 0px;
  }

  /* .scoreboard .top .topLeft {
    grid-area: topLeft;
  }

  .scoreboard .top .topCenter {
    grid-area: topCenter;
  }

  .scoreboard .top .topRight {
    grid-area: topRight;
  }

  .scoreboard .mid .midLeft {
    grid-area: midLeft;
  }

  .scoreboard .mid .midCenter {
    grid-area: midCenter;
  }

  .scoreboard .mid .midRight {
    grid-area: midRight;
  }

  .scoreboard .bot .botLeft {
    grid-area: botLeft;
  }

  .scoreboard.bot.botCenter {
    grid-area: botCenter;
  }

  .scoreboard .bot .botRight {
    grid-area: botRight;
  } */

  .scoreboard * {
    line-height: 1.5rem;
  }

  .scoreboard > * {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .scoreboard .bot {
    border-bottom: 2px solid black;
  }

  .topLeft, .midLeft, .botLeft {
    border-right: 2px solid black;
  }

  .topRight, .midRight, .botRight {
    border-left: 2px solid black;
  }

  .awayAbrv, .homeScore {
    border-right: 2px solid black;
  }

  .scoreboard .top, .scoreboard .mid, .scoreboard .bot {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
    gap: 0px;
  }

  .scoreboard .mid .midLeft, .scoreboard .mid .midRight {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    gap: 5px;
  }

  button {
    /* border: rgb(195, 195, 195) solid 2px; */
    background-color: rgb(75, 75, 75);
    border: 2px solid black;
    /* background-color: rgb(183, 205, 168); */
    color: black;
    /* border-radius: 10%; */
    padding: 10px;
    margin: 2px;
    /* max-width: 33%; */
    line-height: 1.5rem;
  }

  /* button:hover {
    background-color: #9c9c9c;
  } */

  button:disabled {
    /* background-color: #9c9c9c; */
    /* color: rgb(40, 40, 40); */
    color: #9c9c9c;
  }

  body {
    background: #e4e4e4;
    /* background-color: rgb(183, 205, 168); */
    padding: 5px;
    height: 100vh;
    margin: 0;
  
    font: 500 100% system-ui, sans-serif;
    /* text-transform: uppercase; */
  }

  .page-wrap {
    /* background: white; */
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(black, 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
    grid-template-rows: min-content 1fr min-content min-content;
    gap: 1px;
  }

  .page-wrap.game {
    grid-template-rows: min-content minmax(10px, 20%) 1fr min-content min-content;
  }

  .page-wrap > * {
      padding: 1rem;
      text-align: center;
      border: 2px solid black;
  }

  .to-butt1, .to-butt2, .tp-butt1 *, .to-butt2 * {
    font-size: .5rem;
  }

  .sideby {
    display: grid;
    grid-auto-flow: column;
  }
  

  
  .page-header {
    grid-column: 1 / -1;
    /* background: #ffcdd2; */
    /* position: sticky; */
    top: 0;
  }

  .page-subheader {
    /* display: none; */
    grid-column: 2 / -1;
    /* background: #bbdefb; */
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
     scrollbar-width: none;  /* Firefox */
    max-height: 100%;
  }

  .page-subheader::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  .page-main {
    grid-row: span 1;
    grid-column: 1 / 2;
    /* background: #dcedc8; */
  }

  .page-sidebar {
    grid-column: 2 / 3;
    grid-row: span 1;
    /* background: #e1bee7; */
  }

  .page-selection2 {
    grid-column: 1 / -1;
    grid-row: span 1;
    /* background: #c5fffb; */
  }

  .page-main *, .page-sidebar * {
    margin-bottom: 10px;;
  }

  .page-subfooter {
    grid-column: 1 / -1;
    /* background: #caa15f; */
  }
  .page-footer {
    grid-column: 1 / -1;
    /* background: #ffecb3; */
  }
  
  details p {
    text-transform: none;
    text-align: left;
  }
  
  @media (max-width: 768px) {


    .page-wrap {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .page-wrap > * {
        grid-column: 1 / -1 !important;
        grid-row: auto;
    }

    .page-wrap.game {
      grid-template-rows: min-content min-content 15% 1fr min-content min-content;
    }

    /* .page-subheader {
      display: block;
      min-height: 100px;
  } */
    
    /* .page-sidebar {
        display: none;
    } */
  }

  h1 {
    font-size: 2em;
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }

  input {
    text-align: center;
  }

  .selection.pl1, .selection.pl2 {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    grid-auto-flow: column;
    /* grid-auto-rows: 50%; play with this to change height of the children, 50% will fill half */
    /* grid-template-columns: unset; do not set template columns and rows */
    /* grid-template-rows: unset; */
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  .selection.pl1::-webkit-scrollbar, .selection.pl2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  .selection.pl1.reg, .selection.pl2.reg {
    justify-content: left;
  }

  .page-footer {
    display: grid;
    grid-auto-flow: row;
  }

  /* Score Board */
  .scoreboard-container {
    --rad: 2vw;
    grid-column: span 2;
    grid-row: span 1;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
    grid-template:
      [top] 15% [hm] 3% [content-top] 32% [mid] 32% [content-bot] 3% [to] 15% [bot]
      /
      [left] var(--rad) [away] 3fr [away-score] 2fr [clockl] minmax(auto, 10vw) [mid] minmax(auto, 10vw) [clockr] 2fr [home-score] 3fr [home] var(--rad) [right];
    /* grid-template: 15% 70% 15% / 2fr 1fr 150px 150px 1fr 2fr; */
    /* grid-template-areas:
      "padl tl-margin tl-margin   clock clock   tr-margin tr-margin padr"
      "padl away-hm   away-hm     clock clock      home-hm  home-hm padr"
      "padl away-team away-score  clock clock  home-score home-team padr"
      "padl away-team away-score  clock clock  home-score home-team padr"
      "padl away-to   away-to     clock clock      home-to  home-to padr"
      "padl bl-margin bl-margin   clock clock   br-margin br-margin padr"; */
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    justify-items: stretch;
    
    transition: all .5s;
  }
  .scoreboard-container * {
    font-family: sans-serif;
    color: white;
  }
  .scoreboard-container.hide {
    transform: translateX(150%);
  }
  .away, .home {
    grid-row: hm / to;
    color: white;
    font: bold 6vw sans-serif;
  }
  .bg {
    z-index: -1;
    grid-row: hm / to;
  }
  .away.bg {
    grid-column: left / mid;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(3,3,208,1) 68%, rgba(0,31,255,1) 100%);
    border-radius: var(--rad) 0 0 var(--rad);
  }
  
  .home.bg {
    grid-column: mid / right;
    background: linear-gradient(90deg, rgba(36,20,0,1) 0%, rgba(208,144,3,1) 68%, rgba(255,154,0,1) 100%);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  .score {
    text-align: center;
    font-size: 9vw;
    align-self: center;
  }
  .team {
    align-self: center;
    text-decoration: none;
  }
  .home.team {
    text-align: left;
    border-left: gray;
    grid-column: home-score / home;
  }
  .away.team {
    grid-column: away / away-score;
    text-align: right;
  }
  .team.poss {
    text-decoration: underline;
  }
  .home.score {
    align-self: center;
    grid-column: clockr / home-score;
  }
  .away.score {
    align-self: center;
    grid-column: away-score / clockl;
  }
  .away.to-pills {
    grid-area: content-bot / away / to / clockl;
    /* grid-column: 1 / 3;
    grid-row: 2 / 3; */
  }
  .home.to-pills {
    grid-area: content-bot / clockr / to / home;
    /* grid-column: 5 / 7;
    grid-row: 2 / 3; */
  }
  .away.hm {
    grid-area: hm / away / content-top / clockl;
    /* grid-column: 1 / 3;
    grid-row: 4 / 5; */
  }
  .home.hm {
    grid-area: hm / clockr / content-top / home;
    /* grid-column: 5 / 7;
    grid-row: 4 / 5; */
  }
  .hm span, .to-pills span {
    background: white;
  }
  .to-pills, .hm {
    display: grid;
    grid-template: 1fr / 20% 20% 20%;
    gap: 10%;
    justify-content: space-evenly;
    justify-items: stretch;
    font-size: .5vw;
    z-index: 2;
    margin: 0 5%;
    align-self: stretch;
  }
  .away .to-butt1 {
    background: none;
  }
  
  .away-msg, .home-msg {
    font-size: 1.8vw;
    text-align: center;
    line-height: 3vw;
    z-index: -2;
    transition: transform .5s;
  }
  .top-msg {
    grid-row: top / mid;
  }
  .collapsed .top-msg {
    transform: translateY(30%);
  }
  .collapsed .bot-msg {
    transform: translateY(-30%);
  }
  .bot-msg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-row: mid / bot;
  }
  .home-msg {
    grid-column: mid / right;
    padding-left: 10vw;
    background: rgb(36,20,0);
    background: linear-gradient(90deg, rgba(36,20,0,1) 0%, rgba(208,144,3,1) 68%, rgba(255,154,0,1) 100%);
  }
  .away-msg {
    grid-column: left / mid;
    padding-right: 10vw;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(3,3,208,1) 68%, rgba(0,31,255,1) 100%);
  }
  .top-msg.home-msg {
    border-radius: 0 var(--rad) 0 0;
  }
  .top-msg.away-msg {
    border-radius: var(--rad) 0 0 0;
  }
  .bot-msg.home-msg {
    border-radius: 0 0 var(--rad) 0;
  }
  .bot-msg.away-msg {
    border-radius:  0 0 0 var(--rad);
  }
  .clock {
    grid-area: top / clockl / bot / clockr;
    background: rgb(60, 60, 60);
    color: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template: 25% 50% 25% / 1fr;
    justify-items: center;
    align-items: center;
    border: .75vw solid white;
  }
  .time {
    grid-row: 2;
    font: bold 7vw sans-serif;
  }
  .logo, .qtr {
    font: bold 2.5vw sans-serif;
  }
  .qtr {
    grid-row: 3;
    margin-bottom: 10px;
  }
  .logo {
    grid-row: 1;
    margin-top: 10px;
  }

  
  .field {
    background: greenyellow;
    width: 500px;
    height: 200px;
    position: relative;
  }
  .ball {
    position: absolute;
    top: 50px;
    left: 80px;
    transition: all 1s;
  }