* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  @font-face {
    font-family: 'calc';
    src: url(fonts/calc/ti-calculator-font.ttf);
  }

  p, button, .scoreboard * {
    font-family: 'calc', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .scoreboard {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* grid-template-areas: 
      "topLeft  topCenter  topRight"
      "midLeft  midCenter  midRight"
      "botLeft  botCenter  botRight"
    ; */
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    gap: 0px;
  }

  /* .scoreboard .top .topLeft {
    grid-area: topLeft;
  }

  .scoreboard .top .topCenter {
    grid-area: topCenter;
  }

  .scoreboard .top .topRight {
    grid-area: topRight;
  }

  .scoreboard .mid .midLeft {
    grid-area: midLeft;
  }

  .scoreboard .mid .midCenter {
    grid-area: midCenter;
  }

  .scoreboard .mid .midRight {
    grid-area: midRight;
  }

  .scoreboard .bot .botLeft {
    grid-area: botLeft;
  }

  .scoreboard.bot.botCenter {
    grid-area: botCenter;
  }

  .scoreboard .bot .botRight {
    grid-area: botRight;
  } */

  .scoreboard * {
    border: 1px solid black;
  }
  .scoreboard .top, .scoreboard .mid, .scoreboard .bot {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    justify-items: stretch;
    gap: 10px;
  }

  .scoreboard .mid .midLeft, .scoreboard .mid .midRight {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-content: space-between;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    gap: 10px;
  }

  button {
    border: rgb(195, 195, 195) solid 2px;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    /* max-width: 33%; */
    line-height: 1.5rem;
  }

  button:hover {
    background-color: #9c9c9c;
  }

  button:disabled {
    background-color: #9c9c9c;
    color: rgb(40, 40, 40);
  }

  body {
    /* background: #e4e4e4; */
    background-color: rgb(183, 205, 168);
    padding: 5px;
    height: 100vh;
    margin: 0;
  
    font: 500 100% system-ui, sans-serif;
    /* text-transform: uppercase; */
  }
  .page-wrap {
    /* background: white; */
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(black, 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
    grid-template-rows: min-content 1fr min-content min-content min-content;
    gap: 1px;
  }

  .page-wrap > * {
      padding: 1rem;
      text-align: center;
      border: 2px solid black;
  }
  

  
  .page-header {
    grid-column: 1 / -1;
    /* background: #ffcdd2; */
    /* position: sticky; */
    top: 0;
  }

  .page-subheader {
    /* display: none; */
    grid-column: 2 / -1;
    /* background: #bbdefb; */
    overflow: scroll;
    max-height: 100%;
  }
  
  .page-main {
    grid-row: span 1;
    grid-column: 1 / 2;
    /* background: #dcedc8; */
  }

  .page-sidebar {
    grid-column: 2 / 3;
    grid-row: span 1;
    /* background: #e1bee7; */
  }

  .page-selection2 {
    grid-column: 1 / -1;
    grid-row: span 1;
    /* background: #c5fffb; */
  }

  .page-main *, .page-sidebar * {
    margin-bottom: 10px;;
  }

  .page-subfooter {
    grid-column: 1 / -1;
    /* background: #caa15f; */
  }
  .page-footer {
    grid-column: 1 / -1;
    /* background: #ffecb3; */
  }
  
  details p {
    text-transform: none;
    text-align: left;
  }
  
  @media (max-width: 768px) {


    .page-wrap {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .page-wrap > * {
        grid-column: 1 / -1 !important;
        grid-row: auto;
    }

    .page-subheader {
      display: block;
      min-height: 100px;
  }
    
    /* .page-sidebar {
        display: none;
    } */
  }

  h1 {
    font-size: 2em;
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }

  input {
    text-align: center;
  }

  .selection.pl1 {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    grid-auto-flow: column;
    /* grid-auto-rows: 50%; play with this to change height of the children, 50% will fill half */
    /* grid-template-columns: unset; do not set template columns and rows */
    /* grid-template-rows: unset; */
    overflow: scroll;
  }

  .selection.pl1.reg {
    justify-content: left;
  }