.td-frame1 {
    /* height: 50%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  }
  
  img.td-bg1 {
    height: 100%;
    z-index: 600;
    position: absolute;
    /* display: none; */
    width: fit-content;
    filter: brightness(0.0);
  }
  
  }
  
  svg.td-svg1 {
    width: fit-content;
    height: 100%;
    z-index: 601;
    position: absolute;
    /* margin-left: -1px; */
    /* margin-top: -1px; */
  }
  
  }
  
  .td-anim {
    height: 69%;
    width: fit-content;
    margin: 10% 50%;
    position: relative;
  }

    
