.first-anim {
    -
        height: 69%;
    -
        width: 100%;
    -
        margin: -2% 0%;
    +
        height: -11%;
    +
        width: 80%;
    +
        /* margin: -2% 0%; */
        position: relative;
        z-index: 799;
        transition: opacity 0.25s;
    +
        overflow: hidden;
    +
        /* height: 113%; */
    +
        display: flex;
    +
        justify-content: center;
    +
        align-items: flex-start;
    }
    .first-anim img {
    -
        width: 100%;
    +
        width: 169%;