.game-setup-container {
  max-width: 100%;
  box-shadow: 0 0 3px rgba(black, 0.33);

  display: grid;
  grid-template-columns: 2% 1fr 1fr 2%;
  grid-template-rows: 1fr auto 1fr 1fr 1fr;
  row-gap: 2%;

  transition: opacity .5s;
}

/* CSS */
.setup-button {
  align-items: center;
  appearance: none;
  background-color: #efdcf9;
  border-radius: 50px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #323e42;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 12%;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.setup-button:hover, .setup-button:active, .setup-button:focus {
  background: #F6F9FE;
  color: #7954a1;
}

.setup-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.setup-button:focus {
  outline: none;
  /* border: 2px solid #4285f4; */
}

.setup-button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.setup-button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.setup-button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.setup-button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.setup-button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.start-screen {
  z-index: 100;
  background-color: #7954a1;
  color: white;
  grid-area: top / left-all / bot / right-all;
  display: grid;
  grid-template: [top] 50% [mid] 50% [bot] /
                 [left] 100% [right];

  transition: all 0.5s;

}

.start-screen .start-screen-header {
  z-index: 300;
  grid-area: top / left / mid / right;
  background: #323e42;
  display: grid;
  /* flex-direction: column; */
  grid-template-rows: 8fr 4fr 1fr;
  align-items: center;
  box-shadow: 0 5px 10px rgb(34 34 34 / 50%);
  color: white;
}

.start-screen-header h1 a {
  text-decoration: none;
}


.start-screen .start-screen-content {
  grid-area: mid / left / bot / right;
  display: grid;
  grid-template: [top] 1fr [bot] / [left] 1fr [right];

  transition: opacity 0.5s;
}

.start-screen .start-screen-content > section {
  grid-area: top / left / bot / right;
  background: #7954a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  transition: all 0.5s;
}

.start-screen-login {
  z-index: 200;
}

.start-screen-game-pick {
  z-index: 190;
}

.start-screen-multi-pick {
  z-index: 180;
}

.start-screen-online-pick {
  z-index: 170;
}

.start-screen-host-code {
  z-index: 160;
}

.start-screen-remote-code {
  z-index: 150;
}

.start-screen-team1 {
  z-index: 130;
}

.start-screen-team2 {
  z-index: 120;
}

.start-screen-game-options {
  z-index: 110;
}

.start-screen-loading {
  z-index: 105;
}

.start-screen .title-ball img {
  height: 50%;
  width: 50%;
  transform: rotate(0deg);
}

.start-screen .title-ball.spin img {
  animation: rotate 2s linear infinite;
  content:url(../img/football.png);
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

.start-screen h1.title-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 1000;
  font-size: 10vw;
}

.game-setup-container.slide-away {
  /* transform: translateX(100%); */
  opacity: 0;
  /* display: none; */
  transition: opacity 1s;
}

.game-setup-container > * {
    padding: 1rem;
    text-align: center;
    /* border: 2px solid black; */
}

.start-screen input, .start-screen select {
  border-radius: 50px;
  font-family: 'Cabin', sans-serif;
  padding-left: 5px;
}

/* Page Elements */
h1, input, p, button, label, .to-butt1 *, .to-butt2 * {
  /* font-family: 'calc', sans-serif; */
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1vw;
}

p.tiny {
  font-size: .5rem;
  line-height: .75rem;
}

details p {
  text-transform: none;
  text-align: left;
}

h1 {
  font-size: .25rem;
  line-height: 3rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

input {
  text-align: center;
}

.away .to-butt1 {
  background: none;
}

.team1 {
  grid-area: 2 / 2 / 3 / 3;
}

.team2 {
  grid-area: 2 / 3 / 3 / 4;
}

.qtr-length {
  grid-area: 3 / 2 / 4 / 4;
}

.play-button {
  grid-area: 4 / 2 / 5 / 4;
}