@import url(scoreboard.css);
@import url(cards.css);
@import url(game-setup.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'calc';
  src: url(../fonts/calc/ti-calculator-font.ttf);
}

/* Page Layout */
body {
  overflow: hidden;
  background: rgb(80, 80, 80);
  /* background-color: rgb(183, 205, 168); */
  /* height: var(--height);
  width: var(--width); */
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  /* text-transform: uppercase; */
  /* LATER: Safe Area Inset to be explored */
  padding:
    env(safe-area-inset-top, 0)
    env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 0)
    env(safe-area-inset-left, 0);
}
/* .chat {
  position: absolute;
  z-index: 2000;
  top: 50%;
  right: 0;
} */

a {
  text-decoration: none;
}

.main-container {
  /* background: white; */
  /* width: calc(var(--width));
  height: calc(var(--height)); */
  width: 100%;
  height: 100%;
  margin: 0;
  box-shadow: 0 0 3px rgba(black, 0.33);

  display: grid;
  /* grid-template: 
    [top] min-content [field-top] minmax(0, 2fr) [cards-top] minmax(0, 1fr) [bot]
    /
    [left-all] minmax(0, 1fr) [modal-left] minmax(0, 3fr) [modal-right] minmax(0, 1fr) [right-all]; */
  
    grid-template: 
    [top] 26vw [field-top] minmax(0, 1fr) [cards-top] 20vh [bot-msg] 6vh [bot]
    /
    [left-all] minmax(0, 1fr) [modal-left] minmax(0, 3fr) [modal-right] minmax(0, 1fr) [right-all];

  /* grid-template-columns: minmax(0, 1fr);
  grid-template-rows: min-content minmax(0, 2fr) minmax(0, 1fr); */
  
  row-gap: 0%;
}

.landscape {
  z-index: 1000;
  background-color: black;
  color: white;
  grid-area: top / left-all / bot / right-all;
  display: none;
}

/* Responsive
@media (min-width: 601px) {
  div.main-container {
    grid-template-rows: [top] minmax(0, 1fr) [field-top] minmax(0, 2fr) [cards-top] minmax(0, 1fr) [bot];
    max-width: 600px;
    margin: 0 auto;
  }
} */

/* .scoreboard-container, .field-container, .board-container, .cards-container {
    grid-column: 2 / 3;
} */

/* .main-container.game {
  grid-template-rows: min-content minmax(10px, 20%) 1fr min-content min-content;
} */

.main-container > * {
    /* padding: 1rem; */
    text-align: center;
    /* border: 2px solid black; */
}

/* .sideby {
  display: grid;
  grid-auto-flow: column;
} */
  
.page-header {
  /* grid-column: 1 / -1; */
  /* background: #ffcdd2; */
  /* position: sticky; */
  top: 0;
}

/* Page Elements */
.to-butt1, .to-butt2, .tp-butt1 *, .to-butt2 * {
  font-size: .5rem;
}

.cards-container button, .board-container button .to-butt1 *, .to-butt2 * {
  /* font-family: 'calc', sans-serif; */
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 1%;
}

p.tiny {
  font-size: .5rem;
  line-height: .75rem;
  justify-self: center;
}

p.contact {
  font-size: 1.5rem;
  line-height: 1rem;
  justify-self: center;
}

p.contact a {
  text-decoration: none;
  color: #efdcf9;
}

p.contact a:hover {
  color: #323e42;
}

details p {
  text-transform: none;
  text-align: left;
}

h1 {
  font-size: 2em;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

input {
  text-align: center;
}

.away .to-butt1 {
  background: none;
}

/* Responsive */
/* @media (max-width: 768px) {
  .main-container {
      grid-template-columns: 100%;
      grid-template-rows: auto;
  }

  .main-container > * {
      grid-column: 1 / -1 !important;
      grid-row: auto;
  }

  .main-container.game {
    grid-template-rows: min-content min-content 15% 1fr min-content min-content;
  }
} */

.game-setup-container {
  background: dodgerblue;
  border: 1vw solid white;
  border-radius: 2vw;
  grid-area: top / left-all / bot / right-all;
  z-index: 20;
  display: '';
}

.field-container {
  grid-area: top / left-all / bot / right-all;
  max-height: 100%;
  max-width: 600px;
  padding: 0;
  transform: translateX(0);
  /* background: rgb(44, 163, 44); */
  
  z-index: 5;
  transition: transform 1s, opacity .5s;

  overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  
  display: grid;
  grid-template:
    [top] 26vw [top-endzone] minmax(0, 8%) [top-field] minmax(0, 64%) [bot-endzone] minmax(0, 8%) [bot-msg] 6vh [bot]
    /
    [left] minmax(0, 1fr) [right];

  /* margin-bottom: 1px; */
}

.field-container .just-field:hover {
  /* transform: rotate(180deg); */
}

.field-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.field-container.slide-away {
  transform: translateX(150%);
  /* z-index: -1; */
  opacity: 0;
  /* display: none; */
  transition: transform 1s, opacity 1s;
}

.field-container .fg-post {
  grid-row: top / top-endzone;
}

.field-container .just-field {
  grid-area: top-endzone / left / bot-msg / right;

  display: grid;
  grid-template:
    [top-endzone] minmax(0, 10%) [top-field] minmax(0, 80%) [bot-endzone] minmax(0, 10%) [bot-msg]
    /
    [left] minmax(0, 1fr) [right];

  transition: all 1s;
}

.field-container .top-endzone {
  grid-area: top-endzone / left / top-field / right;
  position: relative;

  border: 5px solid white;
  border-bottom: none;
  background: linear-gradient(to top left, var(--away-color1) 20%, var(--away-color2));
}

.fg-post img {
  height: 100%;
}

.ball.fg-good {
  animation: good 3s;
}

.ball.fg-bad {
  animation: bad 3s;
}

@keyframes good {
  0% {
    transform: rotate(270deg);
  }

  30% {
    scale: 2;
  }

  100% {
    transform: rotate(90deg);
    scale: 0;
    top: -40vw;
  }
}

@keyframes good-big {
  0% {
    transform: rotate(270deg);
  }

  30% {
    scale: 2;
  }

  100% {
    transform: rotate(90deg);
    scale: 0;
    top: -40vw;
  }
}

@keyframes bad {
  0% {
    transform: rotate(270deg);
  }

  30% {
    scale: 2;
  }

  70% {
    transform: rotate(90deg);
    scale: 1.3;
    top: -25vw;
  }

  100% {
    transform: rotate(270deg);
    scale: 1;
    top: -5vw;
  }
}

@keyframes bad-big {
  0% {
    transform: rotate(270deg);
  }

  30% {
    scale: 2;
  }

  70% {
    transform: rotate(90deg);
    scale: 1.3;
    top: -140px;
  }

  100% {
    transform: rotate(270deg);
    scale: 1;
    top: -30px;
  }
}


.field-container .modal-message {
  grid-area: top-endzone / left / top-field / right;
  z-index: 20;
  margin: 10px;
  color: purple;

  color: white;
  font-weight: bold;

  display: flex;
  text-align: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.field-container .modal-message::-webkit-scrollbar {
  display: none;
}

.field-container .field {
  position: relative;
  grid-row: top-field / bot-endzone;

  border: 5px solid white;
  border-bottom: none;
  background: repeating-linear-gradient(to top, white, white 5px, green 5px, green 10%);

  display: flex;
  justify-content: center;
}

.field-container .bot-endzone {
  grid-row: bot-endzone / bot-msg;
  position: relative;

  border: 5px solid white;
  border-top: none;
  background: linear-gradient(to bottom left, var(--home-color1) 20%, var(--home-color2));
}

.field-container .top-endzone, .field-container .bot-endzone {
  display: grid;
  grid-template-columns: [left] 1fr [helmet-l] 2fr [city-start] 6fr [city-end] 2fr [helmet-r] 1fr [right];
  align-content: center;
  justify-items: center;
}

.field-container .ball{
  position: absolute;
  top: calc(var(--ball-spot) - 5px);
  transform: rotate(270deg);
  font-size: 1rem;
  margin: 0 auto;
  width: 15%;
  /* transform: translateY(calc(var(--ball-spot) - 10px)); */
  transition: all .25s;
  z-index: 300;
  /* z-index: 400; This is where it was in DevTools */
}

.helmet, .helmet-bg, .helmet2, .helmet-bg2 {
  height: 100%;
  position: absolute;
  z-index: 500;
  transform: scaleX(-1);
}

.helmet-bg, .helmet-bg2 {
  filter: brightness(0);
}

.top-endzone .helmet-bg, .top-endzone .helmet, .bot-endzone .helmet-bg, .bot-endzone .helmet {
  grid-column: helmet-l / city-start;
}

.helmet2, .helmet-bg2 {
  grid-column: city-end / helmet-r;
}

.top-endzone path.helmet-top, .away-helm path.helmet-top, .td-anim .color2 {
  fill: var(--away-color2);
}

.top-endzone path.helmet-bot, .away-helm path.helmet-bot, .td-anim .color1 {
  fill: var(--away-color1);
}

.bot-endzone path.helmet-top, .home-helm path.helmet-top, .td-anim .color2.td-home {
  fill: var(--home-color2);
}

.bot-endzone path.helmet-bot, .home-helm path.helmet-bot, .td-anim .color1.td-home {
  fill: var(--home-color1);
}

.home-city, .away-city, .td-text {
  grid-column: city-start / city-end;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 7vw;
}

.player-container {
  /* top: calc(var(--ball-spot) - 109px); LATER */
  top: calc(var(--ball-spot) - 32vw);
  left: 19%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  width: 75%;
  /* height: 50%; */
  justify-items: center;
  row-gap: 3%;
  z-index: 400;

  transition: opacity .25s;
}

.def-helms, .off-helms {
  /* height: 100%; */
  /* width: 44%; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-self: center;
}

.away-helm, .home-helm {
  display: flex;
  justify-items: center;
  position: relative;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
}

.away-helm svg, away-helm img, .home-helm svg, .home-helm img {
  width: 50%;
}

.away-helm svg, .home-helm svg {
  z-index: 501;
}

.away-helm svg, .away-helm img {
  transform: rotate(180deg);
}

.away-helm.huddle svg, .away-helm.huddle img {
  transform: rotate(0deg);
}

.dh1 {
  grid-area: 2 / 1 / 3 / 2;
}

.dh2 {
  grid-area: 2 / 5 / 3 / 6;
}

.dh3 {
  grid-area: 3 / 2 / 4 / 3;
}

.dh4 {
  grid-area: 3 / 4 / 4 / 5;
}
.dh5 {
  grid-area: 4 / 1 / 5 / 2;
}

.dh6 {
  grid-area: 4 / 2 / 5 / 3;
}

.dh7 {
  grid-area: 4 / 4 / 5 / 5;
}

.dh8 {
  grid-area: 4 / 5 / 5 / 6;
}

.oh1 {
  grid-area: 1 / 1 / 2 / 2;
}

.oh2 {
  grid-area: 1 / 2 / 2 / 3;
}

.oh3 {
  grid-area: 1 / 3 / 2 / 4;
}

.oh4 {
  grid-area: 1 / 4 / 2 / 5;
}

.oh5 {
  grid-area: 1 / 5 / 2 / 6;
}

.oh6 {
  grid-area: 2 / 6 / 3 / 7;
}

.oh7 {
  grid-area: 2 / 3 / 3 / 4;
}

.oh8 {
  grid-area: 3 / 3 / 4 / 4;
}

.oh1.huddle, .dh1.huddle {
  grid-area: 2 / 2 / 3 / 3;
  transform: rotate(115deg);
}
.oh2.huddle, .dh2.huddle {
  grid-area: 3 / 2 / 4 / 3;
  transform: rotate(90deg);
}

.oh3.huddle, .dh3.huddle {
  grid-area: 4 / 3 / 5 / 4;
  transform: rotate(0deg);
}

.oh4.huddle, .dh4.huddle {
  grid-area: 4 / 2 / 5 / 3;
  transform: rotate(45deg);
}
.oh5.huddle, .dh5.huddle {
  grid-area: 4 / 4 / 5 / 5;
  transform: rotate(315deg);
}
.oh6.huddle, .dh6.huddle {
  grid-area: 2 / 4 / 3 / 5;
  transform: rotate(225deg);
}
.oh7.huddle, .dh7.huddle {
  grid-area: 3 / 4 / 4 / 5;
  transform: rotate(270deg);
}
.oh8.huddle, .dh8.huddle {
  grid-area: 3 / 3 / 4 / 4;
  transform: rotate(180deg);
}

.field-container img.coin {
  height: 50%;
  margin-top: 10%;
}

.field-container img.coin.flip {
  content: url(../img/flip.gif);
}

.field-container img.coin.tails {
  content: url(../img/coin-tails.png);
}


.field .first-down-line {
  position: absolute;
  top: calc(var(--first-down) - 5px);
  z-index: 299;
  width: 100%;
  height: 1%;
  border: 1px solid yellow;
  margin: 0 auto;
  background: yellow;
}

.td-anim {
  height: 69%;
  width: fit-content;
  margin: -4% 50%;
  position: relative;
  z-index: 799;

  transition: opacity 0.25s;
}

.td-frame1.spin {
  animation: 1.5s 3 rotate;
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

.td-frame1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img.td-bg1 {
  height: 100%;
  z-index: 600;
  position: absolute;
  width: fit-content;
  filter: brightness(0.0);
}

svg.td-svg1 {
  width: fit-content;
  height: 100%;
  z-index: 601;
  position: absolute;
}

.board-container {
  background: white;
  border: 4px solid black;
  grid-area: field-top / left-all / bot-msg / right-all;
  align-self: center;
  height: 75%;
  max-width: 600px;

  display: grid;
  grid-template-rows: 1fr 4fr 4fr 1fr;
  grid-template-columns: 1fr 6fr 6fr 6fr 6fr 1fr;
  justify-items: center;
  gap: 2vw;

  transition: transform .5s, opacity 1s;
}

.board-container.slide-away {
  transform: translateX(150%);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}

.board-container > * {
  align-self: center;
  /* font-size: 2vw; */
  font-weight: bold;
  color: black;

  transition: background .5s;
}

.board-container .pl-card1-header {
  grid-area: 4 / 2 / 5 / 3;
}
.board-container .pl-card2-header {
  grid-area: 1 / 2 / 2 / 3;
}
.board-container .mult-card-header {
  grid-area: 1 / 3 / 2 / 4;
}
.board-container .yard-card-header {
  grid-area: 4 / 3 / 5 / 4;
}
.board-container .quality-header {
  grid-area: 1 / 4 / 2 / 5;
}
/* .board-container .times-header {
  grid-area: 4 / 4 / 5 / 5;
} */

.board-container .pl-card1,
.board-container .pl-card2,
.board-container .mult-card,
.board-container .yard-card,
.board-container .quality-container,
.board-container .times-container {
  /* background:rgb(129, 0, 17); */
  background: white;
  /* border: 2px solid black; */
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  max-width: 110px;
}

.board-container .pl-card2 {
  grid-area: 2 / 2 / 3 / 3;
}

.board-container .mult-card {
  grid-area: 3 / 3 / 4 / 4;
}

.board-container .quality-container {
  grid-area: 2 / 4 / 3 / 5;
  height: 66%;
}

.board-container .pl-card1 {
  grid-area: 3 / 2 / 4 / 3;
}

.board-container .yard-card {
  grid-area: 3 / 5 / 4 / 6;
}

.board-container .times-container {
  grid-area: 3 / 4 / 4 / 5;
  height: 66%;
}

.board-container .call-quality-container {
  height: 100%;
  width: 100%;
  background: white;
  z-index: 1;
  grid-area: 2 / 3 / 4 / 6;

  display: grid;
  grid-template-rows: 15% 1fr 10fr 1fr 2fr;

  transition: opacity 0.5s;
}

.qual-header {
  background: #323e42;
  color: white;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.qual-table {
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.qual-table > div, .qual-footer > div, .times-footer > div {
  background: dodgerblue;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.def-play {
  background: var(--away-color1);
}

div.def-play.home-play {
  background: var(--home-color1);
}

div.off-play {
  background: var(--away-color1);
}

div.off-play.home-play {
  background: var(--home-color1);
}

div.qual-corner {
  background: #323e42;
}

div.qual-worst {
  background: purple;
}

div.qual-okay {
  background: dodgerblue;
}

div.qual-decent {
  background: rgb(22, 132, 0);
}

div.qual-good {
  background: orange;
}

div.qual-best {
  background: red;
}

div.times-10 {
  background: rgb(49, 0, 41);
}

div.times-jack {
  background: rgb(111, 0, 94);
}

div.times-queen {
  background: rgb(182, 0, 155);
}

div.times-king {
  background: rgb(234, 0, 199);
}

.qual-table div.active, .qual-footer div.active, .times-footer div.active {
  border: 7px solid gold;
  box-shadow: inset #ffffff63 0 0 10px 71px;
  color: black;
}

.qual-footer {
  grid-row: 5 / 6;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.board-container .times-reporter {
  height: 100%;
  width: 100%;
  background: white;
  grid-area: 2 / 3 / 3 / 6;

  display: grid;
  grid-template-rows: 30% 1fr 2fr;
}

.times-header {
  background: #323e42;
  color: white;
  grid-row: 1 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.times-footer {
  grid-row: 3 / 4;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards-container {
  overflow: hidden;
  /* background: rgb(129, 0, 17); */
  background: var(--away-color2);
  grid-area: cards-top / left-all / bot / right-all;
  max-width: 600px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6vh 20vh;
  row-gap: 3%;
  padding: 0;
  z-index: 10;

  transition: transform 0.5s;
}

.cards-container.slide-down {
  /* background: rgb(129, 0, 17, 0); */
  transform: translateY(20vh);
}

.bot-holder { 
  grid-area: bot-msg / left-all / bot / bot / right-all;
}

.cards-container .bar *, .bot-holder {
  font-size: 0.75rem;
  background: black;
  color: white;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  border: none;
  transition: all 0.5s;
}

.to-butt:disabled, .to-butt:disabled *, .pause:disabled {
  background: slategray;
  color: darkgray;
  transition: all 0.5s;
}

.cards-container .bar .to-butt {
  border-right: 2px solid white;
}

.cards-container .bar .pause {
  border-left: 2px solid white;
}


.cards-container .bar {
  grid-area: 1 / 1;
  padding: 0;
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
}

.cards-container .cards {
  padding: 1rem;
  grid-area: 2 / 1;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  /* max-height: 100%; */
  gap: 5%;
  justify-content: space-between;
}

.cards-container .cards::-webkit-scrollbar {
  display: none;
}

.cards-container .cards button.card {
  /* background: #005A9C; */
  background: var(--away-color1);
  color: white;
  /* font-family: 'calc', sans-serif; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cards-container .cards button.card.home-card {
  background: var(--home-color1);
}

.cards-container .cards button.card.away-card {
  background: var(--away-color1);
}

.home-card-cont {
  background: var(--home-color2);
}

.away-card-cont {
  background: var(--away-color2);
}


.board-container div.picked {
  /* background: #005A9C; */
  color: white;
  /* font-family: 'calc', sans-serif; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-container div.mult-card.picked,
.board-container div.yard-card.picked,
.board-container div.quality-container.picked,
.board-container div.times-container.picked {
  font-size: 3vh;
}

.cards-container .cards button.card{
  max-width: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  border: 1vw solid white;
  border-radius: 13%;
}



@media screen and (orientation:landscape) and (max-width: 900px) { 
  /* .scoreboard-container {
    display: grid;
    grid-template:
      [top] 15% [hm] 3% [content-top] 2fr [mid] 2fr [content-bot] 3% [to] 15% [bot]
      /
      [left] var(--rad) [away] 2% [away-to] 3fr [away-score] 2.5fr [clockl] 2fr [mid] 2fr [clockr] 2.5fr [home-score] 3fr [home-to] 2% [home] var(--rad) [right];
  } */
  .landscape {
    display: block;
  }
}

.flip-card {
  /* position: relative; */
  perspective: 500px;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

/* .flip-card:hover .card-content, .flip-card.picked .card-content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
} */

.flip-card.picked .card-content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  text-align: center;
  font-size: .75rem;
  border-radius: 5px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.front {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.front-top {
  font-size: 10vw;
}

.front-bot {
  font-size: 3vw;
}

.quality-container .front-top, .times-container .front-top {
  font-size: 7vw;
}

.quality-container .front-bot, .times-container .front-bot {
  font-size: 2vw;
}

.back {
  background: var(--away-color1);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.back-home {
  background: var(--home-color1);
}

.front img {
  width: 100%;
}

/* Responsive */
@media (min-width: 599px) {
  .main-container {
    grid-template-rows: [top] 170px [field-top] minmax(0, 1fr) [cards-top] 20vh [bot-msg] 6vh [bot];
    max-width: 600px;
    margin: 0 auto;
  }

  .field-container {
    grid-template:
      [top] 170px [top-endzone] minmax(0, 8%) [top-field] minmax(0, 64%) [bot-endzone] minmax(0, 8%) [bot-msg] 6vh [bot]
      /
      [left] minmax(0, 1fr) [right];
  
  }

  .scoreboard-container {
    grid-template:
    /* [top] 15% [hm] 3% [content-top] minmax(auto, 32%) [mid] minmax(auto, 32%) [content-bot] 3% [to] 15% [bot] */
    [top] 15% [hm] 3% [content-top] 2fr [mid] 2fr [content-bot] 3% [to] 15% [bot]
    /
    /* Formerly 10vh */
    [left] var(--rad) [away] 2% [away-to] 3fr [away-score] 2fr [clockl] auto [mid] auto [clockr] 2fr [home-score] 3fr [home-to] 2% [home] var(--rad) [right];
    max-height: 170px;
    align-items: center;
    padding: 17px 0;
  }

  .scoreboard-container .clock {
    height: 136px;
  }

  .score {
    font-size: 60px;
  }

  .team {
    font-size: 50px;
    text-underline-offset: 7px;
  }

  .clock .time {
    font-size: 54px;
  }

  .clock .logo {
    font-size: 18px;
  }

  .clock .qtr {
    font-size: 20px;
  }

  .top-msg, .bot-msg {
    font-size: 12px;
  }

  .home-msg {
    padding-left: 60px;
  }

  .away-msg {
    padding-right: 60px;
  }

  .cards-container .cards button.card {
    flex-basis: 110px;
    border: 4px solid white;
    font-size: .75rem;
    line-height: 1rem;
  }

  .front-top {
    font-size: 4rem;
  }
  
  .front-bot {
    font-size: 1rem;
  }

  .quality-container .front-top, .times-container .front-top {
    font-size: 3rem;
  }
  
  .quality-container .front-bot, .times-container .front-bot {
    font-size: .75rem;
  }

  .start-screen-header h1.title-ball {
    font-size: 150px;
  }

  .start-screen-header h1.title-text {
    font-size: 64px;
  }

  .field-container .ball {
    top: calc(var(--ball-spot) - 5px);
  }

  .player-container {
    top: calc(var(--ball-spot) - 43%);
  }

  .ball.fg-good {
    animation: good-big 3s;
  }
  
  .ball.fg-bad {
    animation: bad-big 3s;
  }

}